* {
    font-family: "Roboto", sans-serif;
}

:root {
    --bgcolor: #fff;
    --hovercolor: #ededee;

    --themecolor: rgb(26, 115, 232);
    --themecolor-fade: rgba(26, 115, 232, 0.1);
    --themecolor-fade-2: rgba(26, 115, 232, 0.2);
    --themecolor-fade-3: rgba(26, 115, 232, 0.3);
    --themecolor-fade-4: rgba(26, 115, 232, 0.4);
    --themecolor-fade-5: rgba(26, 115, 232, 0.5);
    --themecolor-fade-6: rgba(26, 115, 232, 0.6);
    --themecolor-fade-7: rgba(26, 115, 232, 0.7);
    --themecolor-fade-8: rgba(26, 115, 232, 0.8);
    --themecolor-fade-9: rgba(26, 115, 232, 0.9);
}

body {
    background-color: var(--bgcolor);
}

.overlay {
    background-color: #efefef;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: 0.5; /* in FireFox */
    filter: alpha(opacity=50); /* in IE */
}

a {
    color: #089cff !important;
    text-decoration: none !important;
}

.heading span {
    font-size: x-large;
    color: #5f6368;
    font-family: "Open Sans", sans-serif !important;
}

/* Buttons */
.ob {
    padding: 8px;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    width: fit-content !important;
}

.ob-blue {
    color: var(--themecolor) !important;
}

.ob-blue:hover {
    background-color: var(--themecolor-fade) !important;
}

.ob:disabled {
    opacity: 0.75;
    font-weight: 400;
}

.ob:disabled:hover {
    background-color: transparent;
}

.transparent-theme-btn {
    color: var(--themecolor);
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 4px;
    padding: 6px 15px;
}

.transparent-theme-btn:hover {
    border: 1px solid var(--themecolor-fade-2);
    background-color: var(--themecolor-fade);
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
    cursor: pointer;
    font-weight: bold;
    right: 0;
}

.dropdown:hover .dropdown__content {
    display: block;
}

.dropdown__content__item {
    display: block;
    color: #000 !important;
    padding: 8px 16px;
    text-decoration: none;
}

.dropdown__content__item:hover {
    background-color: var(--hovercolor);
    color: #000 !important;
}

.icon_container {
    width: 50px;
    text-align: center;
    display: inline-block;
}

.bx-shadow {
    box-shadow: 0 3px 8px 0 #888;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

/* elements */

/* textarea and input - 1 */
.inp-container {
    width: 100%;
    position: relative;
}

.textarea,
.input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    outline: none;
    padding: 15px;
    background-color: #f8f9fa;
}

.input ~ .theme-border-bottom,
.textarea ~ .theme-border-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
}

.input:focus ~ .theme-border-bottom,
.textarea:focus ~ .theme-border-bottom {
    border-color: var(--themecolor);
    width: 100%;
}

.theme-border-bottom {
    border: 1px solid transparent;
    transition: 0.5s;
}

/* textarea and input - 2 */
.input-2,
.textarea-2 {
    display: block;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 25px;
    outline: none;
    background-color: transparent;
}

.input-2:focus,
.textarea-2:focus {
    box-shadow: 0 0 0 2px var(--themecolor);
}

/* elements */

/* file container */

.file_container {
    border-radius: 5px;
    width: fit-content;
}

.file_container:hover > div > * {
    color: var(--themecolor) !important;
}

.file_container:hover > div {
    background-color: var(--themecolor-fade);
}

.file_container div {
    width: 200px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* file container */

/* label */
label {
    cursor: pointer;
}
/* label */

.disabled {
    opacity: 0.4 !important;
    cursor: initial !important;
}

.max_image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 600px;
}

.tooltip_arrow_holder {
    position: relative;
}

.tooltip_arrow {
    /* display: block;
    position: absolute;
    top: -5px;*/
    z-index: 99;
}

.tooltip_arrow::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #dee2e6;
    left: -12px;
    top: 6px;
}