{% extends '_class/base.html' %}

{% block title %}Course stream • {{class.name}}{% endblock %}

{% block main %}
{% load static %}
{% load next %}
{% load previous %}
<link rel="stylesheet" href="{% static '_class/css/stream.css' %}">
<script src="{% static '_class/js/stream.js' %}"></script>

<div class="container my-5">

    <div class="banner"></div>

    <div class="stream_content d-flex">

        <div class="left_content px-3">
            <div class="upcoming border px-3 py-3">
                <h5 class="mb-3">Upcoming</h5>
                <div class="mb-3">
                    <small class="text-secondary">Woohoo, no work due soon!</small>
                </div>
                <div class="d-flex space-between">
                    <div class="d-block"></div>
                    <a class="d-block" href="">View all</a>
                </div>
            </div>
        </div>

        <div class="right_content px-3">

            {% if page == 1 %}
            <button class="announce bx-shadow border px-3 py-3 d-flex mb-5 d-block">
                <div class="my-auto">
                    {% include 'components/photo.html' with src=user.profile.avatar.url %}
                </div>
                <div class="my-auto px-3">
                    <span>Announce something to your class</span>
                </div>
            </button>
            <div class="announce-area mb-5 px-4 py-4 bx-shadow d-none">
                <form id="announce_form">
                    <div class="inp-container mb-4">
                        <!-- <textarea class="textarea" placeholder="Announce something to your class" style="height: 10rem;" id="announce_textarea"></textarea> -->
                        {{form.text}}
                        <span class="theme-border-bottom"></span>
                    </div>
                    <div class="d-flex space-between">
                        <div>
                            <label for="announce_add_attachment" class="ob transparent-theme-btn" id="announce_add_attachment_label">
                                <i class="fas fa-paperclip"></i>
                                <span style="font-family: 'Roboto', arial;">Add</span>
                            </label>
                            <!-- <input class="d-none" type="file" id="announce_add_attachment"> -->
                            {{form.file}}
                        </div>
                        <div>
                            <button type="reset" class="ob transparent-theme-btn mx-4" id="announce_cancel_btn">
                                <span style="font-family: 'Roboto', arial;">Cancel</span>
                            </button>
                            <button type="submit" class="ob transparent-theme-btn" id="announce_post_btn" disabled>
                                <span style="font-family: 'Roboto', arial;">Post</span>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="attachment_preview border mt-3 d-none" style="background-color: #2a2f32;">
                    <div class="d-flex space-between border-bottom px-3 py-2">
                        <div></div>
                        <button style="background-color: #fff!important;" type="button" class="btn-close d-block clear_attachment" aria-label="Close"></button>
                    </div>
                    <div class="attachment_preview_fluid text-center"></div>
                </div>

            </div>
            {% endif %}

            <div class="stream_posts">
                <div class="stream_posts_fluid">
                    {% if posts %}

                    {% for i in posts %}

                    <div class="d-flex">
                        {% with previous_element=posts|previous:forloop.counter0 %}

                        {% if i.user != previous_element.user or forloop.counter0 == 0 %}
                        <div class="post_pointer d-flex">
                            {% else %}
                            <div class="post_pointer d-flex" style="opacity: 0;">
                            {% endif %}
                            <div style="padding-right: 15px;">
                                {% include 'components/photo.html' with src=i.user.profile.avatar.url %}
                            </div>
                            <span class="tooltip_arrow_holder">
                                <span class="tooltip_arrow"></span>
                            </span>
                        </div>

                        {% endwith %}
                        <div class="e_stream_post mb-5 border" style="flex: 1;">

                            <div class="e_stream_post_user_info d-flex mb-2 px-4 py-2">
                                <div class="my-auto e_stream_post_user_img_container">
                                    {% include 'components/photo.html' with src=i.user.profile.avatar.url %}
                                </div>
                                <div class="my-auto mx-3">
                                    <span>{{i.user.first_name}}</span>
                                    <small class="d-block text-secondary">{{i.date}}</small>
                                </div>
                            </div>
                            <div class="e_stream_post_content px-4">
                                {% if i.text %}
                                <span class="text-secondary">{{i.text}}</span>
                                {% endif %}
                                {% include 'components/file.html' with obj=i %}
                            </div>
                            <hr>
                            <div class="e_stream_post_add_comment px-4 mb-3">
                                <div class="d-flex">
                                    <div class="my-auto">
                                        {% include 'components/photo.html' with src=user.profile.avatar.url %}
                                    </div>
                                    <div class="w-100 mx-3 my-auto" style="margin-right: 0!important;">
                                        <input class="input-2 px-3 py-2" type="text" placeholder="Add a comment">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    {% endfor %}

                    {% else %}
                    <h6 class="text-center text-secondary">No posts to show{% if page != 1 %}. Perhaps you'd like to select a different tab?{% endif %}</h6>
                    {% endif %}
                </div>
            </div>
            <div class="pagination_buttons">
                {% if total_pages > 1 %}
                <hr>
                <div class="pagination_buttons_fluid d-flex space-between">
                    {% if page > 1 %}
                    <button class="btn btn-primary" onclick="insertParam('p', Number('{{page}}')-1);">Previous</button>
                    {% else %}
                    <button class="btn btn-primary" disabled>Previous</button>
                    {% endif %}

                    {% if page < total_pages %}
                    <button class="btn btn-primary" onclick="insertParam('p', Number('{{page}}')+1);">Next</button>
                    {% else %}
                    <button class="btn btn-primary" disabled>Next</button>
                    {% endif %}
                </div>
                {% endif %}
            </div>

        </div>

    </div>

</div>

{% endblock %}