{% extends '_class/base.html' %}

{% block title %}Course stream • {{class.name}}{% endblock %}

{% block main %}
{% load static %}
{% load filename %}
{% load file_extension %}
<link rel="stylesheet" href="{% static '_class/css/stream.css' %}">
<script src="{% static '_class/js/stream.js' %}"></script>

<div class="container my-5">

    <div class="banner"></div>

    <div class="stream_content d-flex">

        <div class="left_content px-3">
            <div class="upcoming border px-3 py-3">
                <h5 class="mb-3">Upcoming</h5>
                <div class="mb-3">
                    <small>Woohoo, no work due soon!</small>
                </div>
                <div class="d-flex space-between">
                    <div class="d-block"></div>
                    <a class="d-block" href="">View all</a>
                </div>
            </div>
        </div>

        <div class="right_content px-3">

            <button class="announce bx-shadow border px-3 py-3 d-flex mb-5 d-block">
                <div class="my-auto">
                    {% include 'components/photo.html' with src=user.profile.avatar.url %}
                </div>
                <div class="my-auto px-3">
                    <span>Announce something to your class</span>
                </div>
            </button>
            <div class="announce-area mb-5 px-4 py-4 bx-shadow d-none">
                <div class="inp-container mb-4">
                    <textarea class="textarea" placeholder="Announce something to your class" style="height: 10rem;" id="announce_textarea"></textarea>
                    <span class="theme-border-bottom"></span>
                </div>
                <div class="d-flex space-between">
                    <button class="ob transparent-theme-btn">
                        <i class="fas fa-paperclip"></i>
                        <span style="font-family: 'Roboto', arial;">Add</span>
                    </button>
                    <div>
                        <button class="ob transparent-theme-btn mx-4" id="announce_cancel_btn">
                            <span style="font-family: 'Roboto', arial;">Cancel</span>
                        </button>
                        <button class="ob transparent-theme-btn" id="announce_post_btn" disabled>
                            <span style="font-family: 'Roboto', arial;">Post</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="stream_posts">
                {% if posts %}

                {% for i in posts %}
                <div class="e_stream_post mb-5 border">

                    <div class="e_stream_post_user_info d-flex mb-2 px-4 py-3">
                        <div class="my-auto e_stream_post_user_img_container">
                            {% include 'components/photo.html' with src=i.user.profile.avatar.url %}
                        </div>
                        <div class="my-auto mx-3">
                            <span>{{i.user.first_name}}</span>
                            <small class="d-block text-secondary">{{i.date}}</small>
                        </div>
                    </div>
                    <div class="e_stream_post_content px-4 py-3">
                        {% if i.text %}
                        <span class="text-secondary">{{i.text}}</span>
                        {% endif %}
                        {% if i.file %}
                        <div class="file_container border mt-2 d-flex">
                            <img class="border-end" src="https://lh3.googleusercontent.com/YMQOhC7hT9vOws9lZzxWg7dsFoIRdklEOm8PbZt7uvAd7WU2fMtaOeZP9EGieaC2hkRQAVjIOnwxwCo=w105-h70-c" alt="">
                            <div class="px-2 py-3">
                                <a class="text-dark" target="_blank" href="{{i.file.url}}">{{i|filename}}</a>
                                <span class="d-block text-secondary">{{i|file_extension}}</span>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="e_stream_post_add_comment px-4 py-3">
                        <div class="d-flex">
                            <div class="my-auto">
                                {% include 'components/photo.html' with src=user.profile.avatar.url %}
                            </div>
                            <div class="input-2 px-3 py-2 mx-3 d-flex" style="margin-right: 0!important;">
                                <input class="w-100" type="text" style="border: none;outline:none;" placeholder="Add a comment">
                                <button style="border: none;outline:none;background: transparent;">Send</button>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}

                {% else %}
                <h6 class="text-center text-secondary">No posts to show</h6>
                {% endif %}
            </div>

        </div>

    </div>

</div>

{% endblock %}