<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up on Classroom</title>

    <!-- Boostrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- FontAwesome css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% load static %}
    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container py-5 text-center">
        <div class="main py-3 border mx-auto bg-white mb-3">
            <div class="mb-4">
                {% include 'components/logo.html' %}
            </div>
            <div class="form px-4">
                {% include 'components/alert.html' %}

                {% if account_change %}
                <h5 class="bg-primary border px-3 py-3" style="color: #fff;">Signing up for a new account, shall log you out of the current account.</h5>
                {% endif %}

                <form action="/accounts/emailsignup/" method="POST">
                    {% csrf_token %}
                    <!-- Next redirect input -->
                    <input type="hidden" name="next" value="{{request.GET.next}}">

                    <div class="actual-form">
                        <div class="mb-2">
                            <input type="text" class="form-control" name="name" placeholder="Full name">
                        </div>
                        <div class="mb-2">
                            <input type="email" class="form-control" name="name" placeholder="Email">
                        </div>
                        <div class="mb-2">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="mb-2">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm password">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary w-100 submit-form-btn">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="switcher-prompt bg-white border px-3 py-3 mx-auto">
            <span>Already have an account? <a href="/accounts/login/">Login</a></span>
        </div>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script defer src="{% static 'js/validator.js' %}"></script>

</html>