@media screen and (max-width: 650px) {
    .header__middle {
        display: none !important;
    }
    .header__middle_down {
        display: block!important;
        border-bottom: 1px solid #dee2e6!important
    }
    .header {
        border-bottom: 0!important;
        position: initial;
    }
}