.people-navigations {
    border-bottom: 0.2rem solid var(--themecolor)!important;
}

.people_page_heading {
    border-bottom: 1px solid var(--themecolor);
    color: var(--themecolor);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.people_page_content div {
    padding: 15px;
    display: flex;
}

.people_page_content div img {
    margin: auto 0;
}

.people_page_content div span {
    margin: auto 20px;
}

.people_page_content div:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 100%!important;
}