.stream-navigations {
    border-bottom: 0.2rem solid var(--themecolor)!important;
}

.left_content {
    width: fit-content;
}

.upcoming a {
    color: var(--themecolor)!important;
}

.upcoming,
.announce {
    border-radius: 5px;
}

.announce {
    width: 100%;
    background-color: transparent;
    color: #6c757d;
}

.announce:hover {
    color: var(--themecolor);
}

.announce-area {
    border-radius: 5px;
}

.right_content {
    flex: 1;
}

@media screen and (max-width: 991px) {
    .stream_content {
        flex-direction: column;
    }

    .left_content {
        display: none;
    }
}

.e_stream_post {
    border-radius: 8px;
}

.e_stream_post_user_img_container img {
    width: 52px;
    height: 52px;
}

.e_stream_post_add_comment img {
    width: 40px;
    height: 40px;
}